<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include('include_css.html') %}
    {% include('include_js.html') %}
    <title>IdoGolanSignUpPage</title>
    {% include('include_css.html') %}

</head>
<body id="bodycontactpage">
<div class="Container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="{{ url_for('FirstPage') }}">Home</a></li>
                <li><a href="{{ url_for('ContactPage') }}">Contact Us</a></li>
                <li><a href="{{ url_for('FAQ') }}">FAQ</a></li>
                <li><a href="{{ url_for('assignment3_1') }}">Assignment3_1</a></li>
                {% if session['username'] %}
                    <li><a href="{{ url_for('Logout_func') }}">Log-out</a></li>
                {% else %}
                    <li><a href="{{ url_for('assignment3_2') }}">Assignment3_2</a></li>
                {% endif %}
              <li><a href="{{ url_for('assignment_4.assignment4_func') }}">Assignment_4</a></li>
              <li><a href="{{ url_for('assignment_4.users_response') }}">Assignment_4/users</a></li>
             <li><a href="{{ url_for('assignment_4.restapi_users') }}">restapi_users</a></li>
            </ul>
        </nav>
    </div>
</div>
{% if session['username'] %}
    <h2>Active user: {{ session['username'] }} </h2>
{% endif %}

<h1 id="header">Ido Golan Office</h1>
<h1 id="signup">sign up</h1>
<form action="www.IdoGolanOffice.com" method="post">
    <form>
        <div class="leftside">
            <label for="First name">First name</label><br>
            <input type="text" id="First name" name="First name" required><br>
            <label for="Last name">Last name</label><br>
            <input type="text" id="Last name" name="Last name" required><br>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br>
        </div>
        <div class="rightside">
            <label for="address">Address</label><br>
            <input type="address" id="address" name="address" required><br>
            <label for="PhoneNumber">Phone Number</label><br>
            <input type="PhoneNumber" id="PhoneNumber" name="PhoneNumber" required><br>
            <label for="BirthDate">Birth Date</label><br>
            <form method="POST">
                <input type="date" id="birthday" name="date" autocomplete="off" max="2020-01-01"><br>
        </div>
        <div class="center"><br>
            <label for="Reasonforrequest">Reason for request</label><br>
            <textarea name="Hello" id="Hello" cols="30" rows="10"></textarea><br>
            <input type="checkbox" id="agree" name="agree" required>
            <label for="agree">I agree</label><br><br>
            <input type="submit" value="Submit" class="submit"><br><br>
        </div>
    </form>
    <img src="../static/img/form.jpg" alt="FormPicture"><br>


</body>
</html>