<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include('include_css.html') %}
    {% include('include_js.html') %}
    <title>FAQ</title>
</head>
<body>
<div class="Container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="{{ url_for('FirstPage') }}">Home</a></li>
                <li><a href="{{ url_for('ContactPage') }}">Contact Us</a></li>
                <li><a href="{{ url_for('FAQ') }}">FAQ</a></li>
                <li><a href="{{ url_for('assignment3_1') }}">Assignment3_1</a></li>
                {% if session['username'] %}
                    <li><a href="{{ url_for('Logout_func') }}">Log-out</a></li>
                {% else %}
                    <li><a href="{{ url_for('assignment3_2') }}">Assignment3_2</a></li>
                {% endif %}
                <li><a href="{{ url_for('assignment_4.assignment4_func') }}">Assignment_4</a></li>
                <li><a href="{{ url_for('assignment_4.users_response') }}">Assignment_4/users</a></li>
                <li><a href="{{ url_for('assignment_4.restapi_users') }}">restapi_users</a></li>
            </ul>
        </nav>
    </div>
</div>

{% if session['username'] %}
    <h2>Active user: {{ session['username'] }} </h2>
{% endif %}

<h1 class="FAQ-heading">FAQ'S</h1>
<button class="questions">What is "Ido Golan Office"?</button>
<div class="answers">
    <p>A service company that offers office rental services.</p>
</div>

<button class="questions">Who am i?</button>
<div class="answers">
    <p>I am Ido Golan, a student of industrial engineering and management at Ben Gurion University in the third year</p>
</div>

<button class="questions">What is special about our company?</button>
<div class="answers">
    <p>We know how to identify for each company what its exact need is and tailor the perfect office for it,
        in addition we offer our service at a cheap cost in relation to a long-term commitment</p>
</div>

<button class="questions">Where do we offer our service?</button>
<div class="answers">
    <p>We have offices that are offered for rent all over the country:
        Tel Aviv, Ramat Gan, Eilat, Haifa, Jerusalem and Ashkelon.</p>
</div>
<img src="../static/img/FAQimage.jpg" alt="FAQimage" id="FAQimage"><br>
</body>
</html>